<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <h1>Movie Search App</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <form action="" class="search-form">
        <div class="form-group has-feedback">
          <label for="search" class="sr-only">Search</label>
          <input type="text" class="form-control" name="search" id="search" placeholder="search" [formControl]='filmName'>
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container m-auto h-100">
  <div class="row justify-content-center">
    <div class="loader" *ngIf="loader"></div>
  </div>
</div>
<div class="container mt-2" *ngIf="!loader">
  <div class="row">
    <div class="item col-md-12 col-md-offset-3">
      <div class="row scroll-table">
        <div class='card col-md-12 mt-2 mb-1' *ngFor="let item of filmsArr">
          <div class='card-img-top'>
            <div class="img-fluid" [innerHTML]="item.image_code"></div>
          </div>
          <div class='card-block'>
            <h4 class='card-title'>{{item.link_code}}</h4>
            <p>{{item.year}}</p>
            <p class='card-text'>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
