.scroll-table{
  max-height: 800px;
  overflow: scroll;
}

.card {
    position: relative;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-width: 95%;
    margin: auto;

    .card-img-top {
      .img-fluid{
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }

    .card-block {
      position: relative;
      padding: 2rem;
    }

    .card-text {
      margin-bottom: 0;
    }

    .btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      border-radius: 50%;
      padding: 0;
      width: 3rem;
      height: 3rem;
      transition: all .25s ease-in-out;

      .icon {
        width: 50%;
        height: 50%;
        margin-left: -10%;
        transition: all .25s ease-in-out;
      }

      &:hover .icon {}
    }
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin .8s linear infinite; /* Safari */
    animation: spin .8s linear infinite;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }